<!DOCTYPE html>
<html>
<head>
	<title>My Bucketlist</title>

	 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">Login</a></li>
					<li role="presentation"><a href="showSignUp">Register</a></li>
				</ul>
			</nav>
			<h3 class="text-muted">Flask Bucketlist App</h3>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron">
			<h1>Bucket List App</h1>
			<p class="lead"></p>
			<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Create a new Bucket list</a></p>
		</div>
		<div class="row marketing">
	            <div class="">
	                <h4>About</h4>
	                <p> The innovative bucketlist app is an application that allows users  to record and share things they want to achieve or experience before reaching a certain age meeting the needs of keeping track of their dreams and goals.
					</p>
	            </div>
	 
	            <div class="">
	                <h4>Bucket List</h4>
	                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	 
	                <h4>Bucket List</h4>
	                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
	 
	                <h4>Bucket List</h4>
	                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	            </div>
	        </div>
        <footer class="footer">
        	<p>&copy; iannech 2017</p>
        </footer>
	</div>
</body>
</html>>